.concept-training_block {
  background-color: #c1ffd780;
  padding-bottom: 50px;
}
.concept_training {
  font-family: Comic Sans MS;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 89px;
  text-align: center;
  padding-top: 50px;
}
.concept {
  display: flex;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  justify-content: center;
}
.content_img {
  width: 90px;
  height: auto;
  transform: rotate(-22deg);
}
.concept_content {
padding-left: 50px;

}
.concept_text {
  color: #ff9f2f;
  font-family: Century;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 43px;
  text-align: center;
  padding-top: 30px 0 30px 50px;
}
.concept_text_mean {
  font-family: Century;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  padding-top: 30px;
}

.content_explanation_text {
  margin: 0 auto;
  font-family: Century;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  width: 60%;
}

.concept_line {
  display: inline-block;
  padding: 30px 0px;
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: center;
  
  
}
.worries {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 30px auto;
}
.worries_content {
  font-family: Century;
  font-size: 28px;
  color: #ff9f2f;
  padding-left: 50px;
}
.decoration {
  font-size: 32px;
  color: #ff9f2f;
  
}
.worries_text {
  background-color: white;
  padding: 20px 20px;
  margin: 100px 50px 100px 80px;
  width: 50%;
  height: auto;
  border-radius: 30px;
}
.worries_block {
  display: flex;
  width: 100%;

}
.worries_line_img{
  margin: 0 20px;
  width: 100%;
}
.worries_text_list {
  font-family: Century;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin-left: 50px;
  padding-bottom: 15px;
}
.circle_1 {
  border-radius: 50%;
  background-color: white;
  width: 60px;
  height: 60px;
  margin-top: 130px;
}
.circle_2 {
  border-radius: 50%;
  background-color: white;
  width: 44px;
  height: 44px;
  margin-top: 175px;
}
.circle_3 {
  border-radius: 50%;
  background-color: white;
  width: 30px;
  height: 30px;
  margin-top: 220px;
}
.worries_img_block{
  width: 30%;
  height: auto;
  margin-top: 200px;
  margin-right: 0px;

}
.worries_img {
  width: 100%;
}
.worries_success{
  text-align: center;
  
}
.worries_line_decoration {
  background-color: #ff9f2f;
  width: 50%;
  height: 10px;
  transform: skewX(45deg);
  display: inline-block;
}
.solution {
  font-size: 2vw;
  font-family: Century;
  display: inline-block;
  padding: 10px 0;
  text-align: center;
}
.top{
margin-right: 30px;
}
.bottom {
  margin-left: 30px;
}
.point{
  width: 100%;
}
.point_index {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}
.point_heading {
  font-family: Century;
  font-size: 48px;
  color: #ff9f2f;
  margin: 20px 40px;
}
.wavyline {
  width: 100%;
}
.point_card {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.flag {
  background-color: #ff9f2f;
  text-align: center;
  color: white;
  width: 60px;
  height: 50px;
  font-size: 24px;
  font-family: century;
  position: absolute;
  z-index: 2;
  text-decoration: underline;
  top: 0px;
  left: 15px;
  margin-top: -10px;
  line-height: 40px;
}
.flag::before {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  top: 100%;
  right: 0;
  z-index: 1;
  border-left: 30px solid #ff9f2f;
  border-right: 30px solid #ff9f2f;
  border-top: 20px solid transparent;
  margin-top: -70px;
}
.card_img {
  width: 40%;
  
  box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  background-color: white;
  border-radius: 30px;
  position: relative;
  box-sizing: border-box;
}
.point_img {
  width: 100%;
  height: auto;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.app {
  margin-bottom: 0px;
}
.point_card_heading{
font-family: Century;
font-size: 24px;
line-height: 29px;
color: #ff9f2f;
font-weight: normal;
display: flex;
justify-content: center;
margin: 10px 20px;

}
.kids{
  width: 100%;
  height: 334px;
  
}
.point_heading_text {
  font-family: Public Sans;
  font-size: 18px;
  line-height: 30px;
  font-style: none;
  font-weight: normal;
  width: auto;
  margin: 10px 20px;
}
@media screen and (max-width: 1000px) {
  .concept-training_block{
    width: 100%;
  }
  .concept_training {
    font-size: 24px;
    line-height: initial;
    padding: 20px 0;
  }
  .concept_text{
    font-size: 22px;
    line-height: initial;
  }
  .concept_text_mean{
    font-size: 22px;
    padding-top: 10px;
  }
  .content_explanation_text{
    font-size: 20px;
  }
  .content_img{
    display: none;
  }
  .worries_block{
    display: block;
  }
  .worries_line_img{
    display: none;
  }
  .worries_text{
    width: 80%;
    margin: initial;
    margin: 0 auto;
  }
  .worries_text_list{
    font-size: 20px;
  }
  .circle_1 {
    display: none;
  }
  .circle_2{
    display: none;
  }
  .circle_3{
    display: none;
  }
  .worries_img_block{
    margin: initial;
    display: none;
  }
  .worries_img {
    display: none !important;
  }
   .concept_content{
    padding: initial;
  }
  .worries_success{
    margin: 20px 0;
  }
  .worries_content{
    font-size: 22px;
    padding: initial;
  }
  .decoration{
    font-size: 22px;
  }
  .worries_text_list{
    font-size: 20px;
    line-height: 18px;
    margin: initial;
    margin: 10px 10px;
  }
  .worries_line_decoration{
    width: 80%;
    height: 5px;
  }
  .solution{
    font-size: 22px;

  }
  .point_heading {
    font-size: 24px;
    margin: 0 10px;

  }
  .point_card {
    display: block;
  }
  .card_img{
    width: 90%;
    margin: 50px auto;
  }
  .point_index{
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .concept_content{
    padding: initial;
  }
  .concept_text {
    font-size: 16px;
  }
  .concept_training {
    font-size: 18px;
  }
  .concept_text_mean {
    font-size: 16px;
  }
  .content_explanation_text {
    font-size: 14px;
    line-height: initial;
  }
  .concept_line {
    padding: 10px 0;
  }
  .worries {
    margin: 20px auto;
  }
  .worries_content {
    font-size: 18px;
  }
  .worries_text_list {
    font-size: 16px;
  }
  .solution {
    font-size: 18px;
    width: 80%;
  }
  .point_card_heading{
    font-size: 18px;
    display: flex;
    justify-content: center;
    text-align: left;
    margin: 10px 20px;
  }
  .point_heading_text{
    font-size: 16px;
  }

}